
body{
	font-family: 'Roboto Condensed';
	background: #DAD299;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B0DAB9, #DAD299);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B0DAB9, #212121); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* overflow: hidden; */
    font-family: 'Julius Sans One', sans-serif;
    
      display: grid;
       grid-template-columns: auto; 
      
     
}


h1{
    font-family: 'Syncopate';

    color:#DAD299;
    text-align: center;
   
}

@import "bourbon";
body {
  background-color: #363E4A;
  /* font-family: "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-size: 16px;
  color: #696969;
  line-height: 1.5;
}

h2 {
  font-weight: 400;
  font-size: 30px;
  color: #DAD299;
}
a{
  text-decoration: none;
}
.contr {
  max-width: 320px;
  margin:  auto;
  padding: 15px 16px 40px 16px;
  transform: translateZ(0);
  text-align: center;
}
.frm-footer {
  margin-top: 1em;
  margin-bottom: 11%;
  
}
.ui-input {
  position: relative;
  padding: 0;
  border: 0;
}
.ui-input input  {
  font-family: "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 0;
  background: none;
  padding: 16px 0 16px 0;
  font-size: 24px;
  outline: 0;
  width: 100%;
  tap-highlight-color: rgba(255, 255, 255, 0);
  touch-callout: none;
}
.ui-input input + label {
  position: relative;
  display: block;
  padding: 8px 0 8px 0;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.0875em;
  font-weight: 500;
  text-align: left;
}
.ui-input input + label::before, .ui-input input + label::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
}
.ui-input input + label::before {
  background-color: rgba(27, 26, 26, 0.2);
}
.ui-input input + label::after {
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  background-color: rgb(38, 104, 180);
  height: 2px;
}
.ui-input input + label span {
  position: relative;
  color: white;
  /* font-size: 13px; */
  transition: color 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.ui-input input + label span::after {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  left: 0;
  transform: scaleX(1);
  white-space: nowrap;
  color: #fff;
  background-image: linear-gradient(to right, #4A90E2 50%, rgba(255, 255, 255, 0) 0%);
  background-position: 100% 50%;
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  backface-visibility: hidden;
  perspective: 1000;
  transform: translateZ(0);
  transition: background-position 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.ui-input input:focus + label::after, .ui-input input.error + label::after, .ui-input input:invalid + label::after, .ui-input input.filled + label::after {
  transform: scaleX(1);
  transform-origin: left;
}
.ui-input input:focus + label span::after, .ui-input input.error + label span::after, .ui-input input:invalid + label span::after, .ui-input input.filled + label span::after {
  background-image: linear-gradient(to right, white 50%, rgba(255, 255, 255, 0) 0%);
  background-position: 0% 50%;
}
.ui-input input.filled {
  color: #ffffff;
}
.ui-input input.filled + label::after {
  background-color: #ffffff;
}
.ui-input input.filled + label span::after {
  background-image: linear-gradient(to right, #ffffff 50%, rgba(255, 255, 255, 0) 0%);
  background-position: 0% 50%;
}
.ui-input input:focus {
  color: #6EB1FF;
}
.ui-input input:focus + label::after {
  background-color: #6EB1FF;
}
.ui-input input:focus + label span::after {
  background-image: linear-gradient(to right, #6EB1FF 50%, rgba(255, 255, 255, 0) 0%);
  background-position: 0% 50%;
}
.ui-input input.error, .ui-input input:invalid {
  color: #E66161;
}
.ui-input input.error + label::after, .ui-input input:invalid + label::after {
  background-color: #E66161;
}
.ui-input input.error + label span::after, .ui-input input:invalid + label span::after {
  background-image: linear-gradient(to right, #E66161 50%, rgba(255, 255, 255, 0) 0%);
  background-position: 0% 50%;
}
.btn {
  border: 0;
  background-color: #50617A;
  padding: 18px 30px;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.0875em;
  font-weight: 500;
  color: #ffffff;
  font-family: "Julius Sans One","Avenir Next", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 100px;
  outline: 0;
  transition: background-color 300ms cubic-bezier(0.215, 0.61, 0.355, 1), color 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.btn:focus, .btn:active, .btn:hover {
  background-color: #6EB1FF;
  color: white;
}
.__first, .__second, .__third, .__fourth,.__fifth {
  animation-name: fadeIn;
  animation-duration: 180ms;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}
.__first {
  animation-delay: 0;
}
.__second {
  animation-delay: 80ms;
}
.__third {
  animation-delay: 180ms;
}
.__fourth {
  animation-delay: 360ms;
}
.__fifth {
  animation-delay: 520ms;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -25%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}















.content{
  position: relative;
  margin-top: 11%;
}




nav
{
    position: absolute;
    top: 10%;
    right: 0;
    left: 0;
    width: 319px;
    display: table;
    margin: 0 auto;
    transform: translateY(-50%);
    font-size: 18px;
    margin-left: 34%;
}
.nav2{
  margin-left: 23%;
  
}
.nav3{

  margin-left: auto;
  
}

#nav-home{
  font-size: smaller;
}
nav a
{
    position: relative;
    width: 33.333%;
    display: table-cell;
    text-align: center;
    color: rgba(68, 231, 68, 0.596);;
    text-decoration: none;
    font-family:'Julius Sans One', Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;
    padding: 10px 20px;
    transition: 0.2s ease color;
}

nav a:before, nav a:after
{
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
}

nav a:before
{
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
}

nav a:after
{
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px
}

nav a:nth-child(1):before
{
    background-color:  #00e2ff;
}

nav a:nth-child(1):after
{
    background-color: #89ff00;
}

nav a:nth-child(2):before
{
    background-color: yellow;
}

nav a:nth-child(2):after
{
    background-color: red;
}

nav a:nth-child(3):before
{
    background-color: purple;
}

nav a:nth-child(3):after
{
    background-color: rgb(109, 61, 77);
}
nav a:nth-child(4):before
{
    background-color: rgb(88, 83, 151);
}

nav a:nth-child(4):after
{
    background-color: palevioletred;
}
nav a:nth-child(5):before
{
    background-color:  rgb(0, 128, 6);
}

nav a:nth-child(5):after
{
    background-color: rgb(229, 231, 80);
}
nav a:nth-child(6):before
{
    background-color: rgb(185, 40, 35);
}

nav a:nth-child(6):after
{
    background-color: rgb(181, 196, 48);
}
nav a:nth-child(7):before
{
    background-color: rgb(0, 102, 128);
}

nav a:nth-child(7):after
{
    background-color: rgb(110, 47, 68);
}







#indicator
{
    position: absolute;
    left: 5%;
    bottom: 0;
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.2s ease left;
}

nav a:hover
{
    color: #fff;
}

nav a:hover:before, nav a:hover:after
{
    transform: scale(1);
}

nav a:nth-child(1):hover ~ #indicator
{
    background: linear-gradient(130deg,  #00e2ff, #89ff00);
}

nav a:nth-child(2):hover ~ #indicator
{
    left: 34%;
    background: linear-gradient(130deg, yellow, red);
}

nav a:nth-child(3):hover ~ #indicator
{
    left: 55%;
    background: linear-gradient(130deg, purple, rgb(109, 61, 77));
}

nav a:nth-child(4):hover ~ #indicator
{
    left: 80%;
    background: linear-gradient(130deg, rgb(88, 83, 151),palevioletred);
  }


.nav2 a:hover:before, nav a:hover:after
{
    transform: scale(1);
}

.nav2 a:nth-child(1):hover ~ #indicator
{
    background: linear-gradient(130deg,  #00e2ff, #89ff00);
}

.nav2 a:nth-child(2):hover ~ #indicator
{
    left: 48%;
    background: linear-gradient(130deg, yellow, red);
}

.nav2 a:nth-child(3):hover ~ #indicator
{
    left: 82%;
    background: linear-gradient(130deg, purple, rgb(109, 61, 77));
}

.nav2 a:nth-child(4):hover ~ #indicator
{
    left: 121%;
    background: linear-gradient(130deg, rgb(88, 83, 151),palevioletred);
  }
.nav2 a:nth-child(5):hover ~ #indicator
{
    left: 155%;
    background: linear-gradient(130deg, rgb(0, 128, 6), rgb(229, 231, 80));
}
.nav2 a:nth-child(6):hover ~ #indicator
{
    left: 194%;
    background: linear-gradient(130deg, rgb(185, 40, 35), rgb(181, 196, 48));
}
.nav2 a:nth-child(7):hover ~ #indicator
{
    left: 239%;
    background: linear-gradient(130deg, rgb(0, 102, 128), rgb(110, 47, 68));
}









.nav3 a:hover:before, nav a:hover:after
{
    transform: scale(1);
}

.nav3 a:nth-child(1):hover ~ #indicator
{
    background: linear-gradient(130deg,  #00e2ff, #89ff00);
}

.nav3 a:nth-child(2):hover ~ #indicator
{
    left: 41%;
    background: linear-gradient(130deg, yellow, red);
}

.nav3 a:nth-child(3):hover ~ #indicator
{
    left: 74%;
    background: linear-gradient(130deg, purple, rgb(109, 61, 77));
}










/* ------------------------hexagon buttons------------------------ */

*{ box-sizing: border-box; }
/* html,body{ height: 100%; width: 100%; } */
/* @import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700,300|Ubuntu+Condensed|Ubuntu+Mono); */
/* body {background: #212121;} */
a {text-decoration: none;}

.hexbuttons {
  margin-top: 50px;
  margin-left: 38%;
  padding: 50px 0 0 5px;
  width: 345px;
  /* font-weight: bold; */
}
.hexr {
  height: 100px;
  margin-top: -15px;
}
.hexr:nth-child(even) {
  margin-left: 53px;
  width: 220px;
}
.hexagon {
  background: #f51e55;
  /* background: #5167e9; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  float: left;
  font-size: 36px;
  
  height: 55px;
  margin: 0 5px 0 0;
  position: relative;
  width: 100px;
}
.hexagon:before {
	content: "";
	position: absolute;
	top: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 25px solid #f51e55;
}
.hexagon:after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid #f51e55;
}
.hexagon span { 
  display: block; 
  height: 100%;
  padding-top: 8px;
  text-align: center;
  width: 100%;
}
.hexagon span::before {
  content: attr(title);
  /* font:white; */
  background: #f51e55;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  font-size: 14px;
  font-weight: bold;
  opacity: 0;
  position: absolute;
  top: -5px;
  left: 0px; 
  text-transform: uppercase;
  transition: 0.1s all ease-in-out;
  width: 100%;
}
.hexagon:hover span::before {
  opacity: 1;
  top: 5px;
  transition: 0.1s all ease-in-out;
}
#hidden{
    visibility: hidden;
}
/* ---------------------------------------------------------------------------- */
/* Tables CSS */

.container {
  position: relative;
  /* padding-top: 10%; */
  margin-left: 20%; 
  /* transform: translate(-50%, -50%); */
}
table {
  width: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
  padding: 15px;
  background-color:  rgba(255,255,255,0.2);
  color: white;
  font-weight: bold;
}
th {
  text-align: left;
  color: #fff;
  font-weight: bolder;
}
thead th {
  background-color: #55608f;
}
tbody tr:hover {
  background-color:  rgba(255,255,255,0.3);
}
tbody td {
  position: relative;
}
tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255,255,255,0.2);
  z-index: -1;
}


/* ============================ */
/* body {
  background: #f0f0f0;
} */
header {
  margin: 0;
  padding: 50px 0 15px;
  text-align: center;
  width: 100%;
  color: #fff;
  background: #2ea34e;
}
header h2 {
  font-weight: 400;
  letter-spacing: 1px;
}
.check-list-right input[type="checkbox"] {
  opacity: 0;
  float: left;
  width: 1px;
  margin: 0;
}
.check-list-right input[type="checkbox"] + .check {
  position: relative;
  margin: 0;
  display: block;
  width: 100%;
  padding: 10px;
  color: #222;
  background: #fff;
  border-bottom: 1px solid #eee;
}
.check-list-right input[type="checkbox"] + .check:before {
  content: "";
  position: absolute;
  top: 50%;
  background: #ddd;
  border: 1px solid #aaa;
}
.check-list-right input[type="checkbox"]:checked + .check {
  color: #2ea34e;
}
.check-list-right input[type="checkbox"]:checked + .check:before {
  background: #3dc863;
  border-color: #2ea44e;
}
.check-list-right input[type="checkbox"]:disabled + .check {
  color: #ccc;
}
.check-list-right input[type="checkbox"]:disabled + .check:before {
  background: rgba(204, 204, 204, 0.5);
  border: 2px dotted #ccc;
}
.check-list-right input[type="checkbox"]:focus + .check {
  box-shadow: inset 0 0 3px #eee;
}
dl {
  max-width: 700px;
  margin: 50px auto;
  /* width:100%; */
}
dl dt {
  margin: 3em 0 5px;
  font-size: 18px;
  color:white;
}
dl dd {
  margin-left: -200px;
  margin-right: -200px;
}

.check-list-right input[type="checkbox"] + .check {
  padding-right: 50px;
  /* padding-left: 50px; */
}
.check-list-right input[type="checkbox"] + .check:before {
  height: 24px;
  width: 24px;
  margin-top: -13px;
  /* margin-left: 200px; */
  right: 10px;
  border-radius: 4px;
}
