<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="../static/app.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
        <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"> -->
        <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Syncopate" rel="stylesheet">
    <!-- Bootstrap CSS -->
    
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->

    <title>Neonatal-Database</title>
  </head>
  <body>
  <nav class="nav2">
        <a href="{{ url_for('home') }}">HOME</a>        
        <a href="{{ url_for('doctors') }}">Doctors</a>
        <a href="{{ url_for('nurses') }}">Nurses</a>
        <a href="{{ url_for('parents') }}">Parents</a>
        <a href="{{ url_for('infants') }}">Infants</a>
        <a href="{{ url_for('Equipment') }}">Equipment</a>
        <a href="{{ url_for('contact_form') }}">CONTACT </a>
        <div id="indicator"></div>
      </nav>

      <div class="content">
        
    <div class="containers">
        <h1>Neonatal Database</h1>
       
        <div class="contr" >
             
                <h2>EQUIPMENTS DATA HERE</h2>
                
              </div>
              <!-- <a href="http://127.0.0.1:5000/contact-form">Contact us</a> -->
              
    </div>
      </div>
      

    <script type="text/javascript" src="../styles/app.js"></script>
  </body>
</html>